*{
    box-sizing: border-box;
    margin: 0;
}

.hero{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -1;
}

.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}