/* Destination CSS */
.destinations {
  width: 100%;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 40px;
}
.desti-header {
  color: rgb(92, 156, 151);
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.destinations img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.destinations img:first-child {
  grid-column: span 3;
}
.destinations img:first-child {
  grid-row: span 2;
}

@media screen and (max-width: 940px) {
  .img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  .destinations img:first-child {
    grid-column: span 2;
  }
}

/* Blog CSS */
.blog-header {
  color: white;
  text-align: center;
  background-color: rgb(92, 156, 151);
  padding: 20px 0;
  margin-bottom: 20px;
}
.posts {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  color: rgb(82, 85, 88);
  font-size: 15px;
  text-align: center;
}
