.posts{
   
    width: 100%;
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
    color: rgb(82, 85, 88);
    font-size: 15px;
}
.posts img{
    width: 30rem;
    height: 25rem;
    border-radius: 10px;
}
.posts p{
    max-width: 30rem;
    max-height: 25rem;
    overflow: hidden;
}