.singlePost {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.single-top {
  margin-bottom: 20px;
  text-align: center;
}
.single-top img {
  height: 30rem;
  object-fit: cover;
}
.single-top h3 {
  color: rgb(231, 148, 148);
  padding: 20px;
}
.single-content {
  margin-top: 20px;
  max-width: 700px;
  position: relative;
}
.single-icon {
  position: absolute;
  top: -30px;
  right: 0;
}
.single-date {
  color: rgb(124, 124, 124);
  float: left;
}
.single-desc {
  margin-top: 60px;
}
