.singlePost {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.single-top {
  margin-bottom: 20px;
  text-align: center;
}
.single-top img {
  height: 30rem;
  object-fit: cover;
}
.single-top h3 {
  color: rgb(231, 148, 148);
  padding: 5px;
  margin: 10px;
  text-align: center;
}
.single-desc {
  text-align: center;
  max-width: 700px;
  margin-top: 20px;
}
.single-icon {
  background-color: blanchedalmond;
  display: block;
  margin-left: auto;
  margin-right: 20vw;
}
